In [1]:
print("Hello semua!")

Hello semua!

cell - markdown untuk catatan note

In [2]:
shift enter untuk jalanin

SyntaxError: invalid syntax (<ipython-input-2-ea3f1c774def>, line 1)

cell yang sedang diedit warna hijau.

1. sedang edit (warna hijau) tekan escape dulu
2. untuk jadi markdown tekan M
3. untuk jadi code cell tekan Y

https://www.markdownguide.org/basic-syntax

# Title 1

##subtitle

In [6]:
print(n)

NameError: name 'n' is not defined

Type data di phyton
1. interger
2. float
3. string
4. boolean

In [7]:
# Variable Assignment

In [8]:
n = 300

In [9]:
print (n)

300

In [10]:
n

300

Overwrite variabel dengan menulis baru seperti di In [8]

In [11]:
age = 27

In [12]:
n*age

8100

In [13]:
n=500

In [14]:
n*age

13500

In [15]:
a = b = c = 300

In [16]:
a*b*c

27000000

In [18]:
# Variable Type in PY

In [20]:
var = 23.4
print (var)

var = "Now i am a string"
print (var)

23.4
Now i am a string

In [21]:
name = "iskandar"
age = "17"
has_laptops = True
print (name, age, has_laptops)

iskandar 17 True

Variable tidak boleh dimulai dengan angka

In [22]:
type(has_laptops)

bool

In [26]:
a = "saya"
b = "dan"
c = "kamu"

a+" "+b+" "+ c

'saya dan kamu'

= untuk assigning variable
== untuk sama dengan in comparison

In [27]:
print(a+b)

sayadan

In [28]:
print (a + b)

sayadan

In [29]:
print (a+" "+b)

saya dan

In [31]:
a*10

'sayasayasayasayasayasayasayasayasayasaya'

In [32]:
a*2

'sayasaya'

In [34]:
print (a in "sayang dalam kamar")

True

python list atau matrix ditandi dengan []

In [43]:
d=[1,2,3,4,5]
e=3

print(e*d)
e*d
print(type(d))
type(d[0])

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
<class 'list'>

int

slicing pake kurung siku

In [44]:
del d[0]

In [45]:
print(d)

[2, 3, 4, 5]

In [48]:
print(d[-4])

2

In [49]:
d[-3]

3

In [58]:
a = ['saya', 'akan', 'pergi', 'ke', 'sekolah', ['karena', 'tidak', 'hujan']]

print (a)

a[0:0] = ['karena', 'tidak', 'hujan']
print (a)

['saya', 'akan', 'pergi', 'ke', 'sekolah', ['karena', 'tidak', 'hujan']]
['karena', 'tidak', 'hujan', 'saya', 'akan', 'pergi', 'ke', 'sekolah', ['karena', 'tidak', 'hujan']]