# Integers

In [5]:
print(123456789+1)

123456790

In [2]:
print(10)
print(type(10))

10
<class 'int'>

# Floating-Point Numbers

In [3]:
print(4.2)
print(type(4.2))

print(4.)

print(.2)

print(.4e7)

print(4.2e-4)

4.2
<class 'float'>
4.0
0.2
4000000.0
0.00042

# String

In [7]:
print("hacktiv8")
print(type("hacktiv8"))

hacktiv8
<class 'str'>

In [8]:
print('')

In [10]:
print("this string contains a single quote (') character.")

print('this string contains a double quote ("") character.')

this string contains a single quote (') character.
this string contains a double quote ("") character.

In [11]:
print(type(True))
print(type(False))

<class 'bool'>
<class 'bool'>

# Variable Assignment

In [12]:
n=300

In [13]:
print(n)

300

In [14]:
n

300

In [15]:
n=1000
print(n)

n

1000

1000

In [16]:
a=b=c=300
print(a,b,c)

300 300 300

In [17]:
a+b+c

900

In [19]:
var = 23.5
print(var)

var = "Now I'am a string"
print(var)

23.5
Now I'am a string

# Variable Names

In [21]:
name = "Hacktive8"
Age = 54
has_laptops = True
print(name, Age, has_laptops)

Hacktive8 54 True

In [23]:
9kepalanaga = True

#nama variable tidak boleh dimulai dengan angka

SyntaxError: invalid syntax (<ipython-input-23-92981c86729c>, line 1)

In [26]:
#case sangat penting

age = 1
Age = 2
aGe = 3
AGE = 4
a_g_e = 5
_age = 6
age_ = 7
_AGE_ = 8

print(age, Age, aGe, AGE, a_g_e, _age, age_, _AGE_)

1 2 3 4 5 6 7 8

# Operators and Expressions in Phyton

In [28]:
a = 10
b = 20
a+b

30

In [29]:
a+b-5

25

# Arithmetic Operators

In [34]:
a=4
b=3

print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b) #pembagian dgn pembulatan
print(a**b) #pangkat

7
1
12
1.3333333333333333
1
64

In [37]:
e=10/5
print(e)
print(type(e))

2.0
<class 'float'>

In [38]:
f=9/4
print(f)
print(type(f))

2.25
<class 'float'>

# Comparison Operators

In [39]:
a=10
b=20
print(a==b)
print (a!=b)
print (a<=b)
print (a<b)
print (a>=b)
print (a>b)

False
True
True
True
False
False

# String Manipulation

In [42]:
# String + Operators

s='foo'
t='bar'
u='baz'
w=' '

print(s+t)
print(s+w+t)

print(s+w+t+w+u)

print('ahmad' +w+ 'iskandar')

foobar
foo bar
foo bar baz
ahmad iskandar

In [43]:
# string * operators

s*4

'foofoofoofoo'

In [45]:
# in Operators

print(s in 'that food for us')

print(s in 'that good for us')

True
False

In [51]:
# Case Conversation

# Capitalise
print(s.capitalize())

# Lower
print(s.lower())

# Swapcase

print(s.swapcase())

# Title
print(s.title())

# Uppercase
print(s.upper())

Foo
foo
FOO
Foo
FOO

# Python Lists

In [52]:
a = ['foo','bar','baz','qux']

print(a)

['foo', 'bar', 'baz', 'qux']

In [54]:
# Karakteristik List
#1. ordered
#2. can contain any arbitrary objects
#3. list elements can be accessed by index
#4. can be nested to arbitrary depts
#5. lists are mutable
#6. list are dynamic

In [58]:
#Ordered

a = ['foo','bar','baz','qux']
b = ['bar','baz','qux', 'foo']

a == b

False

In [59]:
# Contain Arbitrary Objects --> bisa berbagai jenis data

a = [21.32, "foobar", 3,4,'bark', False]

print(a)

[21.32, 'foobar', 3, 4, 'bark', False]

In [63]:
# Can be accessed by index

a = ['foo','bar','baz','qux', 'corge']
#      0     1     2.    3.     4
#      -5     -4     -3   -2     -1


print(a[0])
print(a[1])
print(a[2])
print(a[3])
print(a[4])
print(a[-1])
print(a[-2])
print(a[-3])
print(a[-4])
print(a[-5])

foo
bar
baz
qux
corge
corge
qux
baz
bar
foo

In [64]:
a = ['foo','bar','baz','qux', 'quux', 'corge']

a[2:5]
#mulai dari elemet 2 tapi tidak termasuk elemen 5

['baz', 'qux', 'quux']

In [72]:
# the concatenation (+) and replication (*) operators:

print(a)

print(a+['grault', 'garply'])
print(a*2)

print(a+['grault', 'garply']*2)
print((a+['grault', 'garply'])*2)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'grault', 'garply']
['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'foo', 'bar', 'baz', 'qux', 'quux', 'corge']
['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'grault', 'garply', 'grault', 'garply']
['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'grault', 'garply', 'foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'grault', 'garply']

In [74]:
# len(), min(), max()

print(a)

print(len(a))
print(min(a))
print(max(a))

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
6
bar
qux

# Modifying a single list value

In [76]:
a = ['foo','bar','baz','qux', 'quux', 'corge']

print(a)

a[2]=10
a[-1]=20

print(a)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
['foo', 'bar', 10, 'qux', 'quux', 20]

In [81]:
a = ['foo','bar','baz','qux', 'quux', 'corge']

print(a)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [82]:
#deleting item list with del command

del a[3]

print(a)

['foo', 'bar', 'baz', 'quux', 'corge']

# Modifying a single list value

In [85]:
a = ['foo','bar','baz','qux', 'quux', 'corge']

print(a[1:4])

a[1:4]=[1.1,2.2,3.3,4.4,5.5]
print(a)

['bar', 'baz', 'qux']
['foo', 1.1, 2.2, 3.3, 4.4, 5.5, 'quux', 'corge']

# Python TUples

In [86]:
t = ['foo','bar','baz','qux', 'quux', 'corge']

print(t)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [88]:
print(t[0])
print(t[-6])

foo
foo

In [90]:
(s1, s2, s3, s4) = ('foo','bar','baz','qux')

s1

'foo'

# Python Dictionary

In [ ]:
# Dictionaries and lists are share the following characteristics:
    # both are mutable
    # both are dynamic, can grow and shrink as needed
    # both can be nested. A list can contain another list. A dic can contain another dic. a dic can contain a list and vv

# The Diffs b/w Dictionaries and lists are:
    # list elements are accessed by their position in the list via indexing
    # Dic elements are accessed via keys

In [96]:
# Defining a Dictionary

MLB_team={
    'Colorado': 'Rockies',
    'Boston':'Red Sox',
    'Minnesota':'Twins',
    'Milwaukee':'Brewers',
    'Seattle':'Mariners'
}

print(MLB_team)


#assessing Dic values using []
print(MLB_team['Minnesota'])
print(MLB_team['Seattle'])

{'Colorado': 'Rockies', 'Boston': 'Red Sox', 'Minnesota': 'Twins', 'Milwaukee': 'Brewers', 'Seattle': 'Mariners'}
Twins
Mariners

In [98]:
#Adding an entry to an existing dic

MLB_team['Kansas City'] ='Royals'
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Seattle': 'Mariners',
 'Kansas City': 'Royals'}

In [99]:
# TO update an entry, just assign a new value to an existing key

MLB_team['Kansas City'] ='Jakmania'
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Seattle': 'Mariners',
 'Kansas City': 'Jakmania'}

In [100]:
# To delete an entry, use the del command by specifying the key to delete

del MLB_team['Kansas City']
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Seattle': 'Mariners'}

# Building a Dic Incrementally

In [110]:
person={}
type(person)

person['fname']='Ahmad'
person['lname']='Iskandar'
person['age']=41
person['spouse']='Fera'
person['children']='None'
person['pets']={'cat':'Franky', 'dog':'shiro'}

In [111]:
person

{'fname': 'Ahmad',
 'lname': 'Iskandar',
 'age': 41,
 'spouse': 'Fera',
 'children': 'None',
 'pets': {'cat': 'Franky', 'dog': 'shiro'}}

In [107]:
print(person['fname'] + ' ' +person['lname'])

Ahmad Iskandar

In [113]:
print(person['pets']['cat'])

Franky

In [120]:
# built-in methods

d={"a":10, 'b':20,'c':30}

#items
print(d.items())

#keys
print(d.keys())

#values
print(d.values())

dict_items([('a', 10), ('b', 20), ('c', 30)])
dict_keys(['a', 'b', 'c'])
dict_values([10, 20, 30])

# Line Continuation

In [123]:
#jika kode pyhton sangat panjang

person1_age=42
person2_age=16
person3_age=71

someone_is_of_working_age = (person1_age >= 18 and person1_age <= 65) or (person2_age >= 18 and person2_age <= 65) or (person3_age >= 18 and person3_age <= 65)
someone_is_of_working_age

True